
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    padding: 20px 80px;
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position:top left, bottom right;
    height: 710px;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 100px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;

}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    height: 550px;
    margin: 0 35px 0 100px;
}

.banner-content{
    max-width: 580px;
    margin-top: 50px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner-discription{
    font-size: 18px;
}

.banner-profile-pic{
    width: 580px;
    height: 100%;
}

/* main */
.main{
    max-width: 1140px;
    margin: 0 auto;
}

/* about */

.about{
    border-radius: 10px;
    padding: 50px 150px 10px;
    text-align: center;
    margin: 70px ;
}

.item-description{
    font-weight: 600;
}

.about-items{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
.item-title{
    color: #757575;
    padding: 0;
    margin-bottom:0 ;
}
.item-description{
    color: #181818;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

/* what-i-do section */
.what-i-do{
    padding: 150px;
}

.skills-container{
    display: flex;
    gap: 30px;
}

.skills-description{
    padding: 20px 10px;
}

.skills{
    text-align: center;
    margin-top: 40px;
    background-color: #FFF8F3;
    border-radius: 5px;
    box-shadow: 0 5px rgb(0, 0, 0,5%);
}


 /* Resume section */

 .resume-container{
    display: flex;
    gap: 50px;
    padding: 70px 10px;
 }

 .resume-column{
    padding: 0 50px;
    
 }

 .experience{
    margin: 50px 0;
 }

 .experience-sub-title{
    color: #474747;
 }

 .experience-description{
    color: #757575;
 }
 

 /* footer  */
 .footer-container{
    display: flex;
    margin: 40px 0;
    padding: 20px 0;
 }

 .footer-column{
    text-align: center;
    width: 50%;
 }

 form input{

    padding: 10px 30px;
    height: 40px;
    display: block;
    margin: 10px 100px;
    width: 300px;
    border-radius: 5px;
    border: none;
 }

.message{
    height: 150px;
    width: 300px;
    margin: 10px 100px;
    padding: 50;
    border-radius: 5px;
    border: none;
}